
.Azizlight1
   {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: rgb(117, 114, 114);
    border: 1px solid black;
    margin-left: 44%;
    margin-top: 1%;
  }.encendidored{
  background-color: red;
}

.encendidoyellow {
  background-color: yellow;
}

.encendidogreen {
  background-color: green;
}

