
  .Aziz-light  {
 
    margin-left: 43%;
    margin-bottom: 2%;
  margin-top: 1%;
  opacity: 1;
}
  .Aziz-light1 {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: red;
    border: 1px solid black;
    margin-left: 44%;
    margin-top: 1%;

   
  }
  
  .Aziz-light2 {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: rgb(255, 255, 0);
    border: 1px solid black;
    margin-left: 44%;
    margin-top: 1%;
  }
  
  .Aziz-light3 {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: green;
    border: 1px solid black;
    margin-left: 44%;
    margin-top: 1%;
  }

    

  