.fondo{
border: 1px solid black;
background: rgb(243, 239, 5);
display: block;
width: 130px;
height: 300px;  
margin-left: 42%;
border-radius: 5%;


}


.Aziz-light{
    display: table;
    list-style: none;
    margin-left: 41%;

}